nodered-flow.txt
[{"id":"1d0942998054b875","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1686b84d2b00d044","type":"group","z":"1d0942998054b875","name":"test wav files","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["1c68edfdb128536f","d41e0eb9e7b71bca","7d763bffff9e07f6","80401be23d95a461","08d99b06e0f98ee0","eee4d3649f37a332","9665ca102b515e8a","d1963486278b424d","454ef642bed590e9"],"x":34,"y":899,"w":412,"h":362},{"id":"d45df843091c1fa1","type":"group","z":"1d0942998054b875","name":"test bell config","style":{"fill":"#d1d1d1","label":true,"color":"#000000"},"nodes":["b5ea4b7e10a25ab4","6bc18b2ca68eb35d","c424ab21155ee71a","11bda7965e3364d3","af65241cdb49256a"],"x":34,"y":739,"w":772,"h":122},{"id":"ed2899d395a3679b","type":"group","z":"1d0942998054b875","name":"test real flow","style":{"label":true,"color":"#000000","fill":"#d1d1d1"},"nodes":["9fe6918889493247","d7993c24161e85a7","02abedb031f283fd"],"x":34,"y":579,"w":302,"h":122},{"id":"89db9095cc341d5d","type":"group","z":"1d0942998054b875","name":"bell ringing flow","style":{"stroke":"#ff0000","label":true,"color":"#000000"},"nodes":["a07cb0378ce31c5d","a2fbacb8e18dcde6","fb775aadb10490d0","b3f2bf4811faf5e5","3d8e7f606931dbe5","69077f7332387723","c5d06a3906da38b4","3e53fcf6bf0c9d77","b76138c997172682"],"x":34,"y":299,"w":992,"h":202},{"id":"a96e4febf598ecf0","type":"group","z":"1d0942998054b875","name":"configuration","style":{"stroke":"#ff0000","label":true,"color":"#000000"},"nodes":["5ad1b2d0aac48d62","9d07155a954cf0a1","425ba17be2df703a","21592f9b757238a7","74c63bf80f9115cf","4bdb3cce87d0a894","f6e6fd9e23191983","ce60a05f78045242","0d374ce9ba7e211c"],"x":34,"y":119,"w":992,"h":122},{"id":"69ddf840c2cfa069","type":"catch","z":"1d0942998054b875","name":"","scope":null,"uncaught":false,"x":140,"y":40,"wires":[["15dbfa2212377ffa"]]},{"id":"15dbfa2212377ffa","type":"debug","z":"1d0942998054b875","name":"ERRORS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":40,"wires":[]},{"id":"1c68edfdb128536f","type":"play-soundfile","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"","directory":"3cb20e82cf00eb90","file":"","allow_multiple":true,"x":340,"y":1060,"wires":[[]]},{"id":"d41e0eb9e7b71bca","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"2","props":[{"p":"payload"},{"p":"file","v":"2.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":980,"wires":[["1c68edfdb128536f"]]},{"id":"7d763bffff9e07f6","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"3","props":[{"p":"payload"},{"p":"file","v":"3.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":1020,"wires":[["1c68edfdb128536f"]]},{"id":"80401be23d95a461","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"4","props":[{"p":"payload"},{"p":"file","v":"4.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":1060,"wires":[["1c68edfdb128536f"]]},{"id":"08d99b06e0f98ee0","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"5","props":[{"p":"payload"},{"p":"file","v":"5.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":1100,"wires":[["1c68edfdb128536f"]]},{"id":"eee4d3649f37a332","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"7","props":[{"p":"payload"},{"p":"file","v":"7.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":1180,"wires":[["1c68edfdb128536f"]]},{"id":"9665ca102b515e8a","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"6","props":[{"p":"payload"},{"p":"file","v":"6.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":1140,"wires":[["1c68edfdb128536f"]]},{"id":"d1963486278b424d","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"8","props":[{"p":"payload"},{"p":"file","v":"8.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":1220,"wires":[["1c68edfdb128536f"]]},{"id":"454ef642bed590e9","type":"inject","z":"1d0942998054b875","g":"1686b84d2b00d044","name":"1","props":[{"p":"payload"},{"p":"file","v":"1.wav","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":130,"y":940,"wires":[["1c68edfdb128536f"]]},{"id":"a07cb0378ce31c5d","type":"serial in","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"","serial":"3df23b8bee3f648d","x":160,"y":380,"wires":[["fb775aadb10490d0","c5d06a3906da38b4","3e53fcf6bf0c9d77"]]},{"id":"a2fbacb8e18dcde6","type":"play-soundfile","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"","directory":"3cb20e82cf00eb90","file":"","allow_multiple":true,"x":720,"y":380,"wires":[["69077f7332387723"]]},{"id":"fb775aadb10490d0","type":"function","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"process","func":"\n// load the bell config\nmsg.bellconfig = context.global.get(\"BELLS\");\n\n// which bell has been rung?\nmsg.bell = msg.payload[0] - 0x30;\n\n// is it a valid bell ie 1 to 8?\nif ((msg.bell >= 1) && (msg.bell <= 8))\n    {\n    msg.file = msg.bellconfig[ msg.bell-1 ].file;\n    msg.delay = msg.bellconfig[msg.bell - 1].delay;\n    return msg;\n    }\nelse\n    return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":380,"wires":[["b3f2bf4811faf5e5"]]},{"id":"b5ea4b7e10a25ab4","type":"debug","z":"1d0942998054b875","g":"d45df843091c1fa1","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":820,"wires":[]},{"id":"6bc18b2ca68eb35d","type":"delay","z":"1d0942998054b875","g":"d45df843091c1fa1","name":"delay","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":510,"y":780,"wires":[["b5ea4b7e10a25ab4","af65241cdb49256a"]]},{"id":"5ad1b2d0aac48d62","type":"inject","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"loadfile","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":".1","topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["0d374ce9ba7e211c"]]},{"id":"9d07155a954cf0a1","type":"debug","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":160,"wires":[]},{"id":"c424ab21155ee71a","type":"inject","z":"1d0942998054b875","g":"d45df843091c1fa1","name":"test delays","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":140,"y":780,"wires":[["11bda7965e3364d3"]]},{"id":"11bda7965e3364d3","type":"function","z":"1d0942998054b875","g":"d45df843091c1fa1","name":"test defaults","func":"\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nreturn [msg.bellconfig ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":780,"wires":[["6bc18b2ca68eb35d"]]},{"id":"af65241cdb49256a","type":"play-soundfile","z":"1d0942998054b875","g":"d45df843091c1fa1","name":"","directory":"3cb20e82cf00eb90","file":"","allow_multiple":true,"x":700,"y":780,"wires":[[]]},{"id":"b3f2bf4811faf5e5","type":"delay","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"delay","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":550,"y":380,"wires":[["a2fbacb8e18dcde6","69077f7332387723"]]},{"id":"3d8e7f606931dbe5","type":"link in","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"test","links":["9fe6918889493247"],"x":245,"y":420,"wires":[["fb775aadb10490d0"]]},{"id":"9fe6918889493247","type":"link out","z":"1d0942998054b875","g":"ed2899d395a3679b","name":"test bell","mode":"link","links":["3d8e7f606931dbe5"],"x":295,"y":620,"wires":[]},{"id":"d7993c24161e85a7","type":"inject","z":"1d0942998054b875","g":"ed2899d395a3679b","name":"testbell 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[49]","payloadType":"bin","x":140,"y":620,"wires":[["9fe6918889493247"]]},{"id":"02abedb031f283fd","type":"inject","z":"1d0942998054b875","g":"ed2899d395a3679b","name":"testbell 8","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[56]","payloadType":"bin","x":140,"y":660,"wires":[["9fe6918889493247"]]},{"id":"425ba17be2df703a","type":"file in","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"","filename":"/home/tower/bell.config","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":570,"y":160,"wires":[["4bdb3cce87d0a894"]]},{"id":"21592f9b757238a7","type":"debug","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":200,"wires":[]},{"id":"74c63bf80f9115cf","type":"inject","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"savefile","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["f6e6fd9e23191983"]]},{"id":"4bdb3cce87d0a894","type":"function","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"store","func":"\nmsg.bellfile = JSON.parse( msg.payload );\n\n// store this setup in the global context\ncontext.global.set(\"BELLS\", msg.bellfile);\n\n// pass it on...\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":160,"wires":[["9d07155a954cf0a1"]]},{"id":"f6e6fd9e23191983","type":"function","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"store","func":"\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nvar reset = false;\nif (msg.bellconfig == undefined)     reset = true;\nif (!Array.isArray(msg.bellconfig))  reset = true;\n\nif (reset)\n    {\n    // there is NO config file!!\n    \n    // set the defaults\n    var bells = [   { file: \"1.wav\", delay: 200 },\n                    { file: \"2.wav\", delay: 200 },\n                    { file: \"3.wav\", delay: 200 },\n                    { file: \"4.wav\", delay: 300 },\n                    { file: \"5.wav\", delay: 300 },\n                    { file: \"6.wav\", delay: 300 },\n                    { file: \"7.wav\", delay: 300 },\n                    { file: \"8.wav\", delay: 300 }\n                ];\n\n    // store this setup in the global context\n    context.global.set(\"BELLS\", bells);\n    }\n\n// pass it on...\n//msg.payload = context.global.get(\"BELLS\");\nmsg.payload = JSON.stringify(context.global.get(\"BELLS\"), null, 4);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["ce60a05f78045242"]]},{"id":"ce60a05f78045242","type":"file","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"","filename":"/home/tower/bell.config","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":570,"y":200,"wires":[["21592f9b757238a7"]]},{"id":"0d374ce9ba7e211c","type":"function","z":"1d0942998054b875","g":"a96e4febf598ecf0","name":"store","func":"\n// store this setup in the global context\ncontext.global.set(\"BELLS\", null );\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["425ba17be2df703a"]]},{"id":"69077f7332387723","type":"debug","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":380,"wires":[]},{"id":"c5d06a3906da38b4","type":"debug","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":420,"wires":[]},{"id":"3e53fcf6bf0c9d77","type":"serial out","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"","serial":"f7cbf4321425d80a","x":420,"y":340,"wires":[]},{"id":"b76138c997172682","type":"comment","z":"1d0942998054b875","g":"89db9095cc341d5d","name":"USB NAMES","info":"https://www.freva.com/assign-fixed-usb-port-names-to-your-raspberry-pi/","x":130,"y":460,"wires":[]},{"id":"3cb20e82cf00eb90","type":"soundfile-directory","directory":"/home/tower/.node-red/www/audio"},{"id":"3df23b8bee3f648d","type":"serial-port","serialport":"/dev/ttyUSB_ARDUINO","serialbaud":"2400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"},{"id":"f7cbf4321425d80a","type":"serial-port","serialport":"/dev/ttyUSB_PC","serialbaud":"2400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1","bin":"bin","out":"count","addchar":"","responsetimeout":"10000"}]
