nodered/flow.json
[
    {
        "id": "1d0942998054b875",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1686b84d2b00d044",
        "type": "group",
        "z": "1d0942998054b875",
        "name": "test wav files",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1c68edfdb128536f",
            "d41e0eb9e7b71bca",
            "7d763bffff9e07f6",
            "80401be23d95a461",
            "08d99b06e0f98ee0",
            "eee4d3649f37a332",
            "9665ca102b515e8a",
            "d1963486278b424d",
            "454ef642bed590e9"
        ],
        "x": 34,
        "y": 1279,
        "w": 412,
        "h": 362
    },
    {
        "id": "d45df843091c1fa1",
        "type": "group",
        "z": "1d0942998054b875",
        "name": "test bell config",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b5ea4b7e10a25ab4",
            "6bc18b2ca68eb35d",
            "c424ab21155ee71a",
            "11bda7965e3364d3",
            "af65241cdb49256a"
        ],
        "x": 34,
        "y": 1139,
        "w": 772,
        "h": 122
    },
    {
        "id": "ed2899d395a3679b",
        "type": "group",
        "z": "1d0942998054b875",
        "name": "test real flow without sensors",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#d1d1d1"
        },
        "nodes": [
            "9fe6918889493247",
            "d7993c24161e85a7",
            "02abedb031f283fd",
            "feec3efae555d6db",
            "79d784984c739d70",
            "558cf64695373ac4",
            "dec84090c66d28c8",
            "a30cfa178cc539c0",
            "934c6541c3a2fa92"
        ],
        "x": 34,
        "y": 739,
        "w": 302,
        "h": 362
    },
    {
        "id": "89db9095cc341d5d",
        "type": "group",
        "z": "1d0942998054b875",
        "name": "bell ringing flow",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a07cb0378ce31c5d",
            "a2fbacb8e18dcde6",
            "fb775aadb10490d0",
            "b3f2bf4811faf5e5",
            "3d8e7f606931dbe5",
            "69077f7332387723",
            "c5d06a3906da38b4",
            "3e53fcf6bf0c9d77",
            "b76138c997172682",
            "f75f1172564216b1",
            "9c16bb97988b9738",
            "7c431da05453ecc5",
            "fbda246ee7bbad9d",
            "d788728f205d29ca",
            "43bde1c6d98c64bd",
            "3e53fcf6bf0c9d77"
        ],
        "x": 34,
        "y": 439,
        "w": 1002,
        "h": 282
    },
    {
        "id": "a96e4febf598ecf0",
        "type": "group",
        "z": "1d0942998054b875",
        "name": "configuration",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5ad1b2d0aac48d62",
            "9d07155a954cf0a1",
            "425ba17be2df703a",
            "21592f9b757238a7",
            "74c63bf80f9115cf",
            "4bdb3cce87d0a894",
            "f6e6fd9e23191983",
            "ce60a05f78045242",
            "0d374ce9ba7e211c",
            "b9dc830cae27782d",
            "d179c8b1ef261aad",
            "40fc7699801052b7",
            "0d2b7658e7166ccf",
            "e09b58c79d59fa56",
            "0f10ec2822bfaf67",
            "04d5e6e26907f441"
        ],
        "x": 34,
        "y": 119,
        "w": 992,
        "h": 282
    },
    {
        "id": "a6625ac93262bc74",
        "type": "group",
        "z": "1d0942998054b875",
        "name": "test settings",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "60b8f68ac6aaa19a",
            "e19126f7c8d4e63f",
            "d64f14f0f973b7b7",
            "4c50a055e0381752",
            "2a18184ebacbb2be",
            "2ac5092bed10668b",
            "2c31666abf5dd44f"
        ],
        "x": 34,
        "y": 1659,
        "w": 592,
        "h": 162
    },
    {
        "id": "69ddf840c2cfa069",
        "type": "catch",
        "z": "1d0942998054b875",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 800,
        "y": 60,
        "wires": [
            [
                "15dbfa2212377ffa"
            ]
        ]
    },
    {
        "id": "15dbfa2212377ffa",
        "type": "debug",
        "z": "1d0942998054b875",
        "name": "ERRORS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "d41e0eb9e7b71bca",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "2.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "7d763bffff9e07f6",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "3.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1400,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "80401be23d95a461",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "4.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "08d99b06e0f98ee0",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "5.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "eee4d3649f37a332",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "7.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "9665ca102b515e8a",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "6.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1520,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "d1963486278b424d",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "8.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "454ef642bed590e9",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "1.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "1c68edfdb128536f"
            ]
        ]
    },
    {
        "id": "fb775aadb10490d0",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "process",
        "func": "\n// load the bell config\nmsg.bellconfig = context.global.get(\"BELLS\");\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\n// which bell has been rung?\nmsg.bell = msg.payload[0] - 0x30;\n\n// is it a valid bell ie 1 to 8?\nif ((msg.bell >= 1) && (msg.bell <= 8) && (msg.bellsettings.bellenabled[msg.bell-1]==1))\n    {\n    // check bell ringing gap settings\n    msg.ringgap = Date.now() - msg.bellsettings.previousringms[msg.bell - 1];\n    msg.bellsettings.previousringms[msg.bell - 1] = Date.now();\n    msg.bRing = true;\n    \n    // are we removing rapid bell triggers?\n    if( msg.bellsettings.removerapid )\n        {\n        // is the gap between triggers big enough\n        if (msg.ringgap < msg.bellsettings.rapidms)\n            {\n            // dont ring the bell - triggers are too quick\n            msg.bRing = false;\n            }\n        }\n    \n    // should we ring the bell ?\n    if (msg.bRing)\n        {\n        var msgPC = {};\n\n        var handstroke = msg.bellsettings.ishandstroke[msg.bell - 1];\n        // flip handstroke to backstroke and back\n        msg.bellsettings.ishandstroke[msg.bell - 1] = 1 - handstroke\n        msg.delay = msg.bellconfig[msg.bell - 1].delay[handstroke];\n\n        // should we re-map this bell because bigger bells are dissabled?\n        msg.bellsDissabled = 0;\n        for (let b = msg.bell-1; b < 8; b++)\n            {\n            // \n            if (msg.bellsettings.bellenabled[b]==0 )\n                {\n                msg.bellsDissabled++;\n                }\n            }\n        msg.bell = msg.bell + msg.bellsDissabled;\n        \n        // setup the audio params for a bell to ring\n        msg.file = msg.bellconfig[ msg.bell - 1 ].file;\n        msg.payload = \"\" + (msg.bell - 1);\n\n        // setup the PC msg\n        //msgPC.payload = [ 0x30 + msg.bell - 1 ];\n        msgPC.payload = msg.bell;\n        \n        // done\n        return [msgPC, msg];\n        }\n    }\n\nreturn [null, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "d788728f205d29ca"
            ],
            [
                "b3f2bf4811faf5e5"
            ]
        ]
    },
    {
        "id": "b5ea4b7e10a25ab4",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "d45df843091c1fa1",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6bc18b2ca68eb35d",
        "type": "delay",
        "z": "1d0942998054b875",
        "g": "d45df843091c1fa1",
        "name": "delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "b5ea4b7e10a25ab4",
                "af65241cdb49256a"
            ]
        ]
    },
    {
        "id": "5ad1b2d0aac48d62",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "loadfile",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": ".1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "0d374ce9ba7e211c"
            ]
        ]
    },
    {
        "id": "9d07155a954cf0a1",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "c424ab21155ee71a",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "d45df843091c1fa1",
        "name": "test delays",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "11bda7965e3364d3"
            ]
        ]
    },
    {
        "id": "11bda7965e3364d3",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "d45df843091c1fa1",
        "name": "test defaults",
        "func": "\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nreturn [msg.bellconfig ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "6bc18b2ca68eb35d"
            ]
        ]
    },
    {
        "id": "b3f2bf4811faf5e5",
        "type": "delay",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "a2fbacb8e18dcde6",
                "9c16bb97988b9738",
                "3e53fcf6bf0c9d77"
            ]
        ]
    },
    {
        "id": "3d8e7f606931dbe5",
        "type": "link in",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "test",
        "links": [
            "9fe6918889493247"
        ],
        "x": 235,
        "y": 560,
        "wires": [
            [
                "fb775aadb10490d0",
                "c5d06a3906da38b4"
            ]
        ]
    },
    {
        "id": "9fe6918889493247",
        "type": "link out",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "test bell",
        "mode": "link",
        "links": [
            "3d8e7f606931dbe5"
        ],
        "x": 295,
        "y": 780,
        "wires": []
    },
    {
        "id": "d7993c24161e85a7",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[49]",
        "payloadType": "bin",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "02abedb031f283fd",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[56]",
        "payloadType": "bin",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "425ba17be2df703a",
        "type": "file in",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "",
        "filename": "/home/tower/bell.config",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "4bdb3cce87d0a894"
            ]
        ]
    },
    {
        "id": "21592f9b757238a7",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "74c63bf80f9115cf",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "savefile",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "f6e6fd9e23191983"
            ]
        ]
    },
    {
        "id": "4bdb3cce87d0a894",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "store",
        "func": "\nmsg.bellfile = JSON.parse( msg.payload );\n\n// store this setup in the global context\ncontext.global.set(\"BELLS\", msg.bellfile);\n\n// pass it on...\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "9d07155a954cf0a1",
                "f6e6fd9e23191983"
            ]
        ]
    },
    {
        "id": "f6e6fd9e23191983",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "DEFAULT CONFIG",
        "func": "\n// bell config setup -----------------\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nvar reset = false;\nif (msg.bellconfig == undefined)     reset = true;\nif (!Array.isArray(msg.bellconfig))  reset = true;\n\nif (reset)\n    {\n    // there is NO config file!!\n    \n    // set the defaults\n    // first entry of delay is the backstroke delay\n    var bells = [   { file: \"1.wav\", delay: [500, 300] },\n                    { file: \"2.wav\", delay: [300, 300] },\n                    { file: \"3.wav\", delay: [300, 300] },\n                    { file: \"4.wav\", delay: [325, 325] },\n                    { file: \"5.wav\", delay: [325, 325] },\n                    { file: \"6.wav\", delay: [325, 325] },\n                    { file: \"7.wav\", delay: [325, 325] },\n                    { file: \"8.wav\", delay: [350, 350] }\n                ];\n\n    // store this setup in the global context\n    context.global.set(\"BELLS\", bells);\n    }\n\n// pass it on...\n//msg.payload = context.global.get(\"BELLS\");\nmsg.payload = JSON.stringify(context.global.get(\"BELLS\"), null, 4);\n\n\n// INTERNALS -----------------\n\n// set the internal settings\nvar bsettings = {\n    removerapid: true,\n    rapidms: 600,\n    previousringms: [0, 0, 0, 0, 0, 0, 0, 0],\n    ishandstroke: [1, 1, 1, 1, 1, 1, 1, 1],\n    bellenabled: [1, 1, 1, 1, 1, 1, 1, 1]\n    };\n\n// store these settings in the global context\ncontext.global.set(\"BELLsettings\", bsettings);\n\n// -----------------\n\n//done\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ce60a05f78045242"
            ]
        ]
    },
    {
        "id": "ce60a05f78045242",
        "type": "file",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "",
        "filename": "/home/tower/bell.config",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "21592f9b757238a7"
            ]
        ]
    },
    {
        "id": "0d374ce9ba7e211c",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "store",
        "func": "\n// store this setup in the global context\ncontext.global.set(\"BELLS\", null );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "425ba17be2df703a"
            ]
        ]
    },
    {
        "id": "69077f7332387723",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "c5d06a3906da38b4",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "b76138c997172682",
        "type": "comment",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "RENAME SERIALS",
        "info": "\nhttps://www.freva.com/assign-fixed-usb-port-names-to-your-raspberry-pi/\n\nThis is a nice way to add a nick name to serial ports",
        "x": 150,
        "y": 660,
        "wires": []
    },
    {
        "id": "f75f1172564216b1",
        "type": "websocket out",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "",
        "server": "5e1f79b878ff1d2b",
        "client": "",
        "x": 940,
        "y": 620,
        "wires": []
    },
    {
        "id": "9c16bb97988b9738",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "Bell Sounding",
        "func": "//msg.payload = \"\" + (Number(msg.payload) + 1) + \",ON\";\nmsg.payload = \"\" + msg.bell + \",ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 620,
        "wires": [
            [
                "f75f1172564216b1",
                "7c431da05453ecc5"
            ]
        ]
    },
    {
        "id": "7c431da05453ecc5",
        "type": "delay",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "fbda246ee7bbad9d"
            ]
        ]
    },
    {
        "id": "fbda246ee7bbad9d",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "Bells Silent",
        "func": "msg.payload = \"\" + msg.bell + \",OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 680,
        "wires": [
            [
                "f75f1172564216b1"
            ]
        ]
    },
    {
        "id": "feec3efae555d6db",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[50]",
        "payloadType": "bin",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "79d784984c739d70",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[51]",
        "payloadType": "bin",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "558cf64695373ac4",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[52]",
        "payloadType": "bin",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "dec84090c66d28c8",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[53]",
        "payloadType": "bin",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "a30cfa178cc539c0",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[54]",
        "payloadType": "bin",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "934c6541c3a2fa92",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "ed2899d395a3679b",
        "name": "testbell 7",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[55]",
        "payloadType": "bin",
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "9fe6918889493247"
            ]
        ]
    },
    {
        "id": "b9dc830cae27782d",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "force defaults",
        "func": "\n// store this setup in the global context\ncontext.global.set(\"BELLS\", null);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "f6e6fd9e23191983"
            ]
        ]
    },
    {
        "id": "d179c8b1ef261aad",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "manual",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "b9dc830cae27782d"
            ]
        ]
    },
    {
        "id": "0802106155d39fa8",
        "type": "comment",
        "z": "1d0942998054b875",
        "name": "DONT CHANGE ANYTHING UNLESS YOU KNOW WHAT YOU ARE DOING !",
        "info": "",
        "x": 310,
        "y": 60,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "1c68edfdb128536f",
        "type": "play-soundfile",
        "z": "1d0942998054b875",
        "g": "1686b84d2b00d044",
        "name": "",
        "directory": "3cb20e82cf00eb90",
        "file": "",
        "allow_multiple": true,
        "x": 340,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "a2fbacb8e18dcde6",
        "type": "play-soundfile",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "",
        "directory": "3cb20e82cf00eb90",
        "file": "",
        "allow_multiple": true,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "69077f7332387723"
            ]
        ]
    },
    {
        "id": "af65241cdb49256a",
        "type": "play-soundfile",
        "z": "1d0942998054b875",
        "g": "d45df843091c1fa1",
        "name": "",
        "directory": "3cb20e82cf00eb90",
        "file": "",
        "allow_multiple": true,
        "x": 700,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "a07cb0378ce31c5d",
        "type": "serial in",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "",
        "serial": "3df23b8bee3f648d",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "fb775aadb10490d0",
                "c5d06a3906da38b4"
            ]
        ]
    },
    {
        "id": "3e53fcf6bf0c9d77",
        "type": "serial out",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "",
        "serial": "f7cbf4321425d80a",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "40fc7699801052b7",
        "type": "comment",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "bell config file",
        "info": "on the pi its \"/home/tower/bell.config\"\non windows its \"bell.config\"\n",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "60b8f68ac6aaa19a",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a6625ac93262bc74",
        "name": "BELLsettings",
        "func": "\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\nmsg.bellsettings.bellenabled = [1, 1, 1, 1, 1, 1, 1, 1];\n\n// store these settings in the global context\ncontext.global.set( \"BELLsettings\", msg.bellsettings );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1700,
        "wires": [
            [
                "2a18184ebacbb2be"
            ]
        ]
    },
    {
        "id": "e19126f7c8d4e63f",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "a6625ac93262bc74",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1700,
        "wires": [
            [
                "60b8f68ac6aaa19a"
            ]
        ]
    },
    {
        "id": "d64f14f0f973b7b7",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a6625ac93262bc74",
        "name": "BELLsettings",
        "func": "\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\nmsg.bellsettings.bellenabled[4] = 0;\n\n// store these settings in the global context\ncontext.global.set(\"BELLsettings\", msg.bellsettings);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1740,
        "wires": [
            [
                "2a18184ebacbb2be"
            ]
        ]
    },
    {
        "id": "4c50a055e0381752",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "a6625ac93262bc74",
        "name": "bell5 off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1740,
        "wires": [
            [
                "d64f14f0f973b7b7"
            ]
        ]
    },
    {
        "id": "2a18184ebacbb2be",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "a6625ac93262bc74",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1720,
        "wires": []
    },
    {
        "id": "2ac5092bed10668b",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a6625ac93262bc74",
        "name": "BELLsettings",
        "func": "\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\nmsg.bellsettings.bellenabled[7] = 0;\n\n// store these settings in the global context\ncontext.global.set(\"BELLsettings\", msg.bellsettings);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1780,
        "wires": [
            [
                "2a18184ebacbb2be"
            ]
        ]
    },
    {
        "id": "2c31666abf5dd44f",
        "type": "inject",
        "z": "1d0942998054b875",
        "g": "a6625ac93262bc74",
        "name": "bell8 off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1780,
        "wires": [
            [
                "2ac5092bed10668b"
            ]
        ]
    },
    {
        "id": "d788728f205d29ca",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "0d2b7658e7166ccf",
        "type": "websocket in",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "",
        "server": "69cec02cf603f145",
        "client": "",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "e09b58c79d59fa56",
                "04d5e6e26907f441"
            ]
        ]
    },
    {
        "id": "0f10ec2822bfaf67",
        "type": "websocket out",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "",
        "server": "69cec02cf603f145",
        "client": "",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "e09b58c79d59fa56",
        "type": "function",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "settings",
        "func": "\n// parse the request\nvar cmdReq = JSON.parse( msg.payload );\n\n// are we trying to turn a bell on/off ?\nif( cmdReq.cmd == \"bellonoff\")\n    {\n    // load the bell settings\n    msg.bellsettings = context.global.get(\"BELLsettings\");\n\n    // set the right bell..\n    msg.bell = Number(cmdReq.bell.slice(-1));\n    if (cmdReq.value == true) msg.value = 1; else msg.value = 0; \n    msg.bellsettings.bellenabled[msg.bell-1] = msg.value;\n    \n    // store these settings in the global context\n    context.global.set(\"BELLsettings\", msg.bellsettings);\n    }\n\nif( cmdReq.cmd == \"handstrokereset\" )\n    {\n    // load the bell settings\n    msg.bellsettings = context.global.get(\"BELLsettings\");\n\n    // set the right bell..\n    msg.bellsettings.ishandstroke = [1, 1, 1, 1, 1, 1, 1, 1]\n\n    // store these settings in the global context\n    context.global.set(\"BELLsettings\", msg.bellsettings);\n    }\n\n// the response is always a complete settings object\nmsg.payload = JSON.stringify(context.global.get(\"BELLsettings\") );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "0f10ec2822bfaf67",
                "04d5e6e26907f441"
            ]
        ]
    },
    {
        "id": "04d5e6e26907f441",
        "type": "debug",
        "z": "1d0942998054b875",
        "g": "a96e4febf598ecf0",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "43bde1c6d98c64bd",
        "type": "comment",
        "z": "1d0942998054b875",
        "g": "89db9095cc341d5d",
        "name": "audio file path",
        "info": "on the pi its \"/home/tower/.node-red/www/audio\"\non windows its \".node-red/www/audio/\"",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "5e1f79b878ff1d2b",
        "type": "websocket-listener",
        "path": "/ws/bell",
        "wholemsg": "false"
    },
    {
        "id": "3cb20e82cf00eb90",
        "type": "soundfile-directory",
        "directory": "/home/tower/.node-red/www/audio"
    },
    {
        "id": "3df23b8bee3f648d",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB_ARDUINO",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "1",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f7cbf4321425d80a",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB_PC",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "1",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": "20"
    },
    {
        "id": "69cec02cf603f145",
        "type": "websocket-listener",
        "path": "/ws/settings",
        "wholemsg": "false"
    }
]
