nodered/flow.json
[
    {
        "id": "8d90a5ae55857ec5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b947d8ebc3818f54",
        "type": "group",
        "z": "8d90a5ae55857ec5",
        "name": "test wav files",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "dcb95e21199d87ad",
            "4e516e69f1ab4f5c",
            "b3b85ef9c763d107",
            "74acfed5b9c7febd",
            "783a288fc932a435",
            "7d59e76cde3cc7ae",
            "515c0eaf60e1b248",
            "a451e4b1221941d5",
            "edc114481b284e0e"
        ],
        "x": 34,
        "y": 1279,
        "w": 412,
        "h": 362
    },
    {
        "id": "4e93cf2787340a06",
        "type": "group",
        "z": "8d90a5ae55857ec5",
        "name": "test bell config",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "be8985333db35b16",
            "4ef1a5cb7272ca86",
            "6a097bd6c49dc47e",
            "8c6d082944afb943",
            "ce1b50d34419c6d0"
        ],
        "x": 34,
        "y": 1139,
        "w": 772,
        "h": 122
    },
    {
        "id": "02e9b3aca6652e2b",
        "type": "group",
        "z": "8d90a5ae55857ec5",
        "name": "test real flow without sensors",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#d1d1d1"
        },
        "nodes": [
            "2f8952bd1168bdd7",
            "923f71728d838334",
            "bd8b3b1fd03430a2",
            "08ada73645f435eb",
            "3fd1b4e689562059",
            "e22651ceb9754a4c",
            "3d9fbbbc43dddd34",
            "8868ce2652896027",
            "07da068ed2bb75cc"
        ],
        "x": 34,
        "y": 739,
        "w": 302,
        "h": 362
    },
    {
        "id": "8e68ca5ab98f2f2c",
        "type": "group",
        "z": "8d90a5ae55857ec5",
        "name": "bell ringing flow",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c4a55e05f345c09b",
            "c9d8bb1e747b9d8b",
            "dffe941760733dde",
            "878e699898a92643",
            "080cdf745e48503c",
            "7456347210ef4c4a",
            "662c71d246911b69",
            "d657c3419e3d03ff",
            "2e9583658bcf9cd5",
            "7028cc3bf87765f3",
            "6a615214c335ab89",
            "251da20c83819b29",
            "4197157f4caa2043",
            "cf9ecfb43b02dfeb",
            "7eb552c367c7f02a",
            "d657c3419e3d03ff"
        ],
        "x": 34,
        "y": 419,
        "w": 1002,
        "h": 302
    },
    {
        "id": "52128944b93b0aaa",
        "type": "group",
        "z": "8d90a5ae55857ec5",
        "name": "configuration",
        "style": {
            "stroke": "#ff0000",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9a4f5106421534ef",
            "289a59490b59c073",
            "ba4d7c38025b89d4",
            "11bab60d041a2e1b",
            "b2468cb2c8ff043c",
            "bc92dfc0c8f247d0",
            "49c715217f107fa7",
            "255b9f849bdfc9e0",
            "424ce565ef77a5f8",
            "a2ba6e83bb82bb48",
            "0ebdbd4676ed566e",
            "f6f26dc7eb1de72c",
            "1ac12f63b6d25244",
            "58b2474e75b04178",
            "7db5f87f8bebe913",
            "e8786e257384b31f",
            "b3d2684cbee6df77",
            "65c7edc8544084be"
        ],
        "x": 34,
        "y": 79,
        "w": 992,
        "h": 322
    },
    {
        "id": "7393e8371617defb",
        "type": "group",
        "z": "8d90a5ae55857ec5",
        "name": "test settings",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9957c3dba3eab083",
            "9ac5a250c64de5fa",
            "0c9afbb79d41858e",
            "94dbeba4931af7de",
            "b3fe46310597b5d2",
            "fbc18c8e961a0213",
            "a730f0794f13aa97",
            "8fdf8cb61d4aa25f",
            "292669f35586086e"
        ],
        "x": 34,
        "y": 1659,
        "w": 592,
        "h": 242
    },
    {
        "id": "4c5ac00fbd982ea8",
        "type": "catch",
        "z": "8d90a5ae55857ec5",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 800,
        "y": 40,
        "wires": [
            [
                "86581b9f3951fab8"
            ]
        ]
    },
    {
        "id": "86581b9f3951fab8",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "name": "ERRORS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 40,
        "wires": []
    },
    {
        "id": "4e516e69f1ab4f5c",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "2.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "b3b85ef9c763d107",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "3.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1400,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "74acfed5b9c7febd",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "4.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "783a288fc932a435",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "5.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "7d59e76cde3cc7ae",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "7.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "515c0eaf60e1b248",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "6.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1520,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "a451e4b1221941d5",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "8.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "edc114481b284e0e",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "file",
                "v": "1.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "dcb95e21199d87ad"
            ]
        ]
    },
    {
        "id": "dffe941760733dde",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "process",
        "func": "\n// load the bell config\nmsg.bellconfig = context.global.get(\"BELLS\");\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\n// which bell has been rung?\nmsg.bell = msg.payload[0] - 0x30;\n\n// is it a valid bell ie 1 to 8?\nif ((msg.bell >= 1) && (msg.bell <= 8) && (msg.bellsettings.bellenabled[msg.bell-1]==1))\n    {\n    // check bell ringing gap settings\n    msg.ringgap = Date.now() - msg.bellsettings.previousringms[msg.bell - 1];\n    msg.bellsettings.previousringms[msg.bell - 1] = Date.now();\n    msg.bRing = true;\n    \n    // are we removing rapid bell triggers?\n    if( msg.bellsettings.removerapid )\n        {\n        // is the gap between triggers big enough\n        if (msg.ringgap < msg.bellsettings.rapidms)\n            {\n            // dont ring the bell - triggers are too quick\n            msg.bRing = false;\n            }\n        }\n    \n    // should we ring the bell ?\n    if (msg.bRing)\n        {\n        var msgPC = {};\n\n        var handstroke = msg.bellsettings.ishandstroke[msg.bell - 1];\n        // flip handstroke to backstroke and back\n        msg.bellsettings.ishandstroke[msg.bell - 1] = 1 - handstroke;\n        msg.delay = msg.bellconfig[msg.bell - 1].delay[handstroke];\n        \n        // should we re-map this bell because bigger bells are dissabled?\n        msg.bellsDissabled = 0;\n        for (let b = msg.bell-1; b < 8; b++)\n            {\n            // \n            if (msg.bellsettings.bellenabled[b]==0 )\n                {\n                msg.bellsDissabled++;\n                }\n            }\n        msg.bell = msg.bell + msg.bellsDissabled;\n        \n        // setup the audio params for a bell to ring\n        msg.file = msg.bellconfig[ msg.bell - 1 ].file;\n        msg.payload = \"\" + (msg.bell - 1);\n\n        // setup the PC msg\n        //msgPC.payload = [ 0x30 + msg.bell - 1 ];\n        msgPC.payload = msg.bell;\n        \n        // done\n        return [msgPC, msg];\n        }\n    }\n\nreturn [null, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "cf9ecfb43b02dfeb"
            ],
            [
                "878e699898a92643"
            ]
        ]
    },
    {
        "id": "be8985333db35b16",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "4e93cf2787340a06",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 1220,
        "wires": []
    },
    {
        "id": "4ef1a5cb7272ca86",
        "type": "delay",
        "z": "8d90a5ae55857ec5",
        "g": "4e93cf2787340a06",
        "name": "delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "be8985333db35b16",
                "ce1b50d34419c6d0"
            ]
        ]
    },
    {
        "id": "9a4f5106421534ef",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "loadfile",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": ".1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "424ce565ef77a5f8"
            ]
        ]
    },
    {
        "id": "289a59490b59c073",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "6a097bd6c49dc47e",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "4e93cf2787340a06",
        "name": "test delays",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "8c6d082944afb943"
            ]
        ]
    },
    {
        "id": "8c6d082944afb943",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "4e93cf2787340a06",
        "name": "test defaults",
        "func": "\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nreturn [msg.bellconfig ];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "4ef1a5cb7272ca86"
            ]
        ]
    },
    {
        "id": "878e699898a92643",
        "type": "delay",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "c9d8bb1e747b9d8b",
                "6a615214c335ab89",
                "d657c3419e3d03ff"
            ]
        ]
    },
    {
        "id": "080cdf745e48503c",
        "type": "link in",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "test",
        "links": [
            "2f8952bd1168bdd7"
        ],
        "x": 235,
        "y": 560,
        "wires": [
            [
                "dffe941760733dde",
                "662c71d246911b69"
            ]
        ]
    },
    {
        "id": "2f8952bd1168bdd7",
        "type": "link out",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "test bell",
        "mode": "link",
        "links": [
            "080cdf745e48503c"
        ],
        "x": 295,
        "y": 780,
        "wires": []
    },
    {
        "id": "923f71728d838334",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[49]",
        "payloadType": "bin",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "bd8b3b1fd03430a2",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[56]",
        "payloadType": "bin",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "ba4d7c38025b89d4",
        "type": "file in",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 580,
        "y": 160,
        "wires": [
            [
                "bc92dfc0c8f247d0"
            ]
        ]
    },
    {
        "id": "11bab60d041a2e1b",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "b2468cb2c8ff043c",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "savefile",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "49c715217f107fa7"
            ]
        ]
    },
    {
        "id": "bc92dfc0c8f247d0",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "store",
        "func": "\nmsg.bellfile = JSON.parse( msg.payload );\n\n// store this setup in the global context\ncontext.global.set(\"BELLS\", msg.bellfile);\n\n// pass it on...\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 160,
        "wires": [
            [
                "289a59490b59c073",
                "49c715217f107fa7"
            ]
        ]
    },
    {
        "id": "49c715217f107fa7",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "DEFAULT CONFIG",
        "func": "\n// bell config setup -----------------\n// FYI this setup is stored in the config file\nmsg.bellconfig = context.global.get(\"BELLS\");\n\nvar reset = false;\nif (msg.bellconfig == undefined)     reset = true;\nif (msg.bellconfig == null)          reset = true;\nif (!Array.isArray(msg.bellconfig))  reset = true;\n\nif (reset)\n    {\n    // there is NO config file!!\n    node.warn(\"RESET CONFIG FILE\");\n\n    // set the defaults\n    // first entry of delay is the backstroke delay\n    var bells = [   { file: \"1.wav\", delay: [500, 300] },\n                    { file: \"2.wav\", delay: [300, 300] },\n                    { file: \"3.wav\", delay: [300, 300] },\n                    { file: \"4.wav\", delay: [325, 325] },\n                    { file: \"5.wav\", delay: [325, 325] },\n                    { file: \"6.wav\", delay: [325, 325] },\n                    { file: \"7.wav\", delay: [325, 325] },\n                    { file: \"8.wav\", delay: [350, 350] }\n                ];\n\n    // store this setup in the global context\n    context.global.set(\"BELLS\", bells);\n    msg.bellconfig = bells;\n    }\n\n// pass it on...\n//msg.payload = context.global.get(\"BELLS\");\nmsg.payload = JSON.stringify(context.global.get(\"BELLS\"), null, 4);\n\n// INTERNALS -----------------\n\n// set the internal settings\n// FYI these settings are NOT stored to file\nvar bsettings = {\n    removerapid: true,\n    rapidms: 600,\n    previousringms: [0, 0, 0, 0, 0, 0, 0, 0],\n    ishandstroke: [1, 1, 1, 1, 1, 1, 1, 1],\n    bellenabled: [1, 1, 1, 1, 1, 1, 1, 1]\n    };\n\n// store these settings in the global context\ncontext.global.set(\"BELLsettings\", bsettings);\n\n// -----------------\n\nmsg.filename = context.global.get(\"CONFIGFILENAME\");\n\n//done\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "255b9f849bdfc9e0"
            ]
        ]
    },
    {
        "id": "255b9f849bdfc9e0",
        "type": "file",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "11bab60d041a2e1b"
            ]
        ]
    },
    {
        "id": "424ce565ef77a5f8",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "config filename",
        "func": "\n// null the BELLS global context\ncontext.global.set(\"BELLS\", null );\n\n// configure the default config file location\n//    on the pi its \"/home/tower/bell.config\"\n//    on windows its \"bell.config\"\n\ncontext.global.set(\"CONFIGFILENAME\", \"/home/tower/bell.config\");\n//context.global.set(\"CONFIGFILENAME\", \"bell.config\");\n\nmsg.filename = context.global.get(\"CONFIGFILENAME\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "ba4d7c38025b89d4"
            ]
        ]
    },
    {
        "id": "7456347210ef4c4a",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "662c71d246911b69",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "2e9583658bcf9cd5",
        "type": "comment",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "RENAME SERIALS",
        "info": "\nhttps://www.freva.com/assign-fixed-usb-port-names-to-your-raspberry-pi/\n\nThis is a nice way to add a nick name to serial ports",
        "x": 150,
        "y": 660,
        "wires": []
    },
    {
        "id": "7028cc3bf87765f3",
        "type": "websocket out",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "",
        "server": "5e1f79b878ff1d2b",
        "client": "",
        "x": 940,
        "y": 620,
        "wires": []
    },
    {
        "id": "6a615214c335ab89",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "Bell Sounding",
        "func": "//msg.payload = \"\" + (Number(msg.payload) + 1) + \",ON\";\nmsg.payload = \"\" + msg.bell + \",ON\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 620,
        "wires": [
            [
                "7028cc3bf87765f3",
                "251da20c83819b29"
            ]
        ]
    },
    {
        "id": "251da20c83819b29",
        "type": "delay",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "4197157f4caa2043"
            ]
        ]
    },
    {
        "id": "4197157f4caa2043",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "Bells Silent",
        "func": "msg.payload = \"\" + msg.bell + \",OFF\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 680,
        "wires": [
            [
                "7028cc3bf87765f3"
            ]
        ]
    },
    {
        "id": "08ada73645f435eb",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[50]",
        "payloadType": "bin",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "3fd1b4e689562059",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[51]",
        "payloadType": "bin",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "e22651ceb9754a4c",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[52]",
        "payloadType": "bin",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "3d9fbbbc43dddd34",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[53]",
        "payloadType": "bin",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "8868ce2652896027",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 6",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[54]",
        "payloadType": "bin",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "07da068ed2bb75cc",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "02e9b3aca6652e2b",
        "name": "testbell 7",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[55]",
        "payloadType": "bin",
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "2f8952bd1168bdd7"
            ]
        ]
    },
    {
        "id": "a2ba6e83bb82bb48",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "RESET CONFIG",
        "func": "\n// store this setup in the global context\ncontext.global.set(\"BELLS\", null);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "49c715217f107fa7"
            ]
        ]
    },
    {
        "id": "0ebdbd4676ed566e",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "RESET",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "a2ba6e83bb82bb48"
            ]
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "28efee93a0336b10",
        "type": "comment",
        "z": "8d90a5ae55857ec5",
        "name": "DONT CHANGE ANYTHING UNLESS YOU KNOW WHAT YOU ARE DOING !",
        "info": "",
        "x": 310,
        "y": 40,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "dcb95e21199d87ad",
        "type": "play-soundfile",
        "z": "8d90a5ae55857ec5",
        "g": "b947d8ebc3818f54",
        "name": "",
        "directory": "1e52b3ee0e77ef98",
        "file": "",
        "allow_multiple": true,
        "x": 340,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "c9d8bb1e747b9d8b",
        "type": "play-soundfile",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "",
        "directory": "3cb20e82cf00eb90",
        "file": "",
        "allow_multiple": true,
        "x": 720,
        "y": 560,
        "wires": [
            [
                "7456347210ef4c4a"
            ]
        ]
    },
    {
        "id": "ce1b50d34419c6d0",
        "type": "play-soundfile",
        "z": "8d90a5ae55857ec5",
        "g": "4e93cf2787340a06",
        "name": "",
        "directory": "1e52b3ee0e77ef98",
        "file": "",
        "allow_multiple": true,
        "x": 700,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "c4a55e05f345c09b",
        "type": "serial in",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "",
        "serial": "3df23b8bee3f648d",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "dffe941760733dde",
                "662c71d246911b69"
            ]
        ]
    },
    {
        "id": "d657c3419e3d03ff",
        "type": "serial out",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "",
        "serial": "f7cbf4321425d80a",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "f6f26dc7eb1de72c",
        "type": "comment",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "bell config file",
        "info": "on the pi its \"/home/tower/bell.config\"\non windows its \"bell.config\"\n",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "9957c3dba3eab083",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "BELLsettings",
        "func": "\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\nmsg.bellsettings.bellenabled = [1, 1, 1, 1, 1, 1, 1, 1];\n\n// store these settings in the global context\ncontext.global.set( \"BELLsettings\", msg.bellsettings );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1700,
        "wires": [
            [
                "b3fe46310597b5d2"
            ]
        ]
    },
    {
        "id": "9ac5a250c64de5fa",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1700,
        "wires": [
            [
                "9957c3dba3eab083"
            ]
        ]
    },
    {
        "id": "0c9afbb79d41858e",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "BELLsettings",
        "func": "\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\nmsg.bellsettings.bellenabled[4] = 0;\n\n// store these settings in the global context\ncontext.global.set(\"BELLsettings\", msg.bellsettings);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1740,
        "wires": [
            [
                "b3fe46310597b5d2"
            ]
        ]
    },
    {
        "id": "94dbeba4931af7de",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "bell5 off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1740,
        "wires": [
            [
                "0c9afbb79d41858e"
            ]
        ]
    },
    {
        "id": "b3fe46310597b5d2",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1720,
        "wires": []
    },
    {
        "id": "fbc18c8e961a0213",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "BELLsettings",
        "func": "\n\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\nmsg.bellsettings.bellenabled[7] = 0;\n\n// store these settings in the global context\ncontext.global.set(\"BELLsettings\", msg.bellsettings);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1780,
        "wires": [
            [
                "b3fe46310597b5d2"
            ]
        ]
    },
    {
        "id": "a730f0794f13aa97",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "bell8 off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1780,
        "wires": [
            [
                "fbc18c8e961a0213"
            ]
        ]
    },
    {
        "id": "cf9ecfb43b02dfeb",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "1ac12f63b6d25244",
        "type": "websocket in",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "",
        "server": "69cec02cf603f145",
        "client": "",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "58b2474e75b04178",
                "e8786e257384b31f"
            ]
        ]
    },
    {
        "id": "7db5f87f8bebe913",
        "type": "websocket out",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "",
        "server": "69cec02cf603f145",
        "client": "",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "58b2474e75b04178",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "settings",
        "func": "\n// parse the request\nvar cmdReq = JSON.parse( msg.payload );\n\n// are we trying to turn a bell on/off ?\nif( cmdReq.cmd == \"bellonoff\")\n    {\n    // load the bell settings\n    msg.bellsettings = context.global.get(\"BELLsettings\");\n\n    // set the right bell..\n    msg.bell = Number(cmdReq.bell.slice(-1));\n    if (cmdReq.value == true) msg.value = 1; else msg.value = 0; \n    msg.bellsettings.bellenabled[msg.bell-1] = msg.value;\n    \n    // store these settings in the global context\n    context.global.set(\"BELLsettings\", msg.bellsettings);\n    }\n\nif( cmdReq.cmd == \"handstrokereset\" )\n    {\n    // load the bell settings\n    msg.bellsettings = context.global.get(\"BELLsettings\");\n\n    // set the right bell..\n    msg.bellsettings.ishandstroke = [1, 1, 1, 1, 1, 1, 1, 1]\n\n    // store these settings in the global context\n    context.global.set(\"BELLsettings\", msg.bellsettings);\n    }\n\nif (cmdReq.cmd == \"updatedelays\")\n    {\n    // load the bell settings\n    var bells = context.global.get(\"BELLS\");\n    \n    // prep the 16 delays (2 per bell)\n    var dat = cmdReq.data.split(\",\");\n    if ( dat.length == 16 )\n        {\n        node.warn(dat);\n        \n        // update the 8 bell delays\n        bells[0].delay[0] = Number(dat[0]);\n        bells[0].delay[1] = Number(dat[1]);\n        \n        bells[1].delay[0] = Number(dat[2]);\n        bells[1].delay[1] = Number(dat[3]);\n        \n        bells[2].delay[0] = Number(dat[4]);\n        bells[2].delay[1] = Number(dat[5]);\n        \n        bells[3].delay[0] = Number(dat[6]);\n        bells[3].delay[1] = Number(dat[7]);\n        \n        bells[4].delay[0] = Number(dat[8]);\n        bells[4].delay[1] = Number(dat[9]);\n        \n        bells[5].delay[0] = Number(dat[10]);\n        bells[5].delay[1] = Number(dat[11]);\n        \n        bells[6].delay[0] = Number(dat[12]);\n        bells[6].delay[1] = Number(dat[13]);\n        \n        bells[7].delay[0] = Number(dat[14]);\n        bells[7].delay[1] = Number(dat[15]);\n        \n        // store this setup in the global context\n        context.global.set(\"BELLS\", bells);\n        }\n    }\n\n// the response is always a complete settings and bells object\nvar msgData = {};\nmsgData.settings = context.global.get(\"BELLsettings\");\nmsgData.bells = context.global.get(\"BELLS\");\nmsg.payload = JSON.stringify( msgData );\n\n// remove the session specific response so everyone gets this update!\nmsg._session = null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "7db5f87f8bebe913",
                "e8786e257384b31f",
                "65c7edc8544084be"
            ]
        ]
    },
    {
        "id": "e8786e257384b31f",
        "type": "debug",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "7eb552c367c7f02a",
        "type": "comment",
        "z": "8d90a5ae55857ec5",
        "g": "8e68ca5ab98f2f2c",
        "name": "audio file path",
        "info": "on the pi its \"/home/tower/.node-red/www/audio\"\non windows its \".node-red/www/audio/\"",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "8fdf8cb61d4aa25f",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "BELLsettings",
        "func": "\n// load the bell settings\nmsg.bellsettings = context.global.get(\"BELLsettings\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1860,
        "wires": [
            [
                "b3fe46310597b5d2"
            ]
        ]
    },
    {
        "id": "292669f35586086e",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "7393e8371617defb",
        "name": "View",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1860,
        "wires": [
            [
                "8fdf8cb61d4aa25f"
            ]
        ]
    },
    {
        "id": "b3d2684cbee6df77",
        "type": "inject",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "onstart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": ".2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "58b2474e75b04178"
            ]
        ]
    },
    {
        "id": "65c7edc8544084be",
        "type": "function",
        "z": "8d90a5ae55857ec5",
        "g": "52128944b93b0aaa",
        "name": "store updates",
        "func": "\nmsg.payload = JSON.stringify(context.global.get(\"BELLS\"), null, 4);\n\nmsg.filename = context.global.get(\"CONFIGFILENAME\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "255b9f849bdfc9e0"
            ]
        ]
    },
    {
        "id": "5e1f79b878ff1d2b",
        "type": "websocket-listener",
        "path": "/ws/bell",
        "wholemsg": "false"
    },
    {
        "id": "1e52b3ee0e77ef98",
        "type": "soundfile-directory",
        "directory": ".node-red/www/audio/"
    },
    {
        "id": "3cb20e82cf00eb90",
        "type": "soundfile-directory",
        "directory": "/home/tower/.node-red/www/audio"
    },
    {
        "id": "3df23b8bee3f648d",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB_ARDUINO",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "1",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f7cbf4321425d80a",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB_PC",
        "serialbaud": "2400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "1",
        "bin": "bin",
        "out": "count",
        "addchar": "",
        "responsetimeout": "20"
    },
    {
        "id": "69cec02cf603f145",
        "type": "websocket-listener",
        "path": "/ws/settings",
        "wholemsg": "false"
    }
]
